<form action ="/cars" method="post">
<label for="carModel" > Enter car model</label>
<input id= "carModel" name="carModel" type="text">
<label for="price" > Enter car price</label>
<input id= "price" name="price" type="text">
<label for="miles" > Enter car miles</label>
<input id= "miles" name="miles" type="text">
<button type="submit">Submit</button>
</form>