<form action="/cars" method="post">
  <label for="carModel">Enter car model:</label>
  <input id="carModel" name="carModel" type="text">
  <br>
  <label for="price">Enter car price:</label>
  <input id="price" name="price" type="text">
  <br>
  <label for="miles">Enter car miles:</label>
  <input id="miles" name="miles" type="text">
  <br>
  <button type="submit">Submit</button>
</form>
